In [2]:
import pandas as pd

In [15]:
df = pd.DataFrame({
    "country" : ["United States", "Canada", "United Kingdom", "France", "Germany", "China", "Japan", "South Korea"],
    "continent" : ["North America", "North America", "Europe", "Europe", "Europe", "Asia", "Asia", "Asia"],
    "population" : [332722557, 38711108, 67081234, 67853000, 83222442, 1412600000, 125502000, 51745000],
    "area" : [3796742, 3855100, 93628, 247368, 137882, 3705407, 145937, 38690],
    "population percentage of world": [4.18, 0.487, 0.843, 0.853, 1.05, 17.8, 1.58, 0.650]
})
df

,country,continent,population,area,population percentage of world
0,United States,North America,332722557,3796742,4.180
1,Canada,North America,38711108,3855100,0.487
2,United Kingdom,Europe,67081234,93628,0.843
3,France,Europe,67853000,247368,0.853
4,Germany,Europe,83222442,137882,1.050
5,China,Asia,1412600000,3705407,17.800
6,Japan,Asia,125502000,145937,1.580
7,South Korea,Asia,51745000,38690,0.650

In [16]:
df.groupby("continent")

In [17]:
df.groupby("continent").count()

               country  population  area  population percentage of world
continent
Asia                 3           3     3                               3
Europe               3           3     3                               3
North America        2           2     2                               2

In [18]:
df_agg = df.groupby("continent").agg({"country": "count", "population": ["sum", "min", "max"]})
df_agg

              country  population
                count         sum       min         max
continent
Asia                3  1589847000  51745000  1412600000
Europe              3   218156676  67081234    83222442
North America       2   371433665  38711108   332722557

In [19]:
print(df_agg.columns)

MultiIndex([(   'country', 'count'),
            ('population',   'sum'),
            ('population',   'min'),
            ('population',   'max')],
           )

In [20]:
print(df_agg[("population", "max")])

continent
Asia             1412600000
Europe             83222442
North America     332722557
Name: (population, max), dtype: int64

In [21]:
df_agg_single = df.groupby("continent").agg(country_count = ("country", "count"),
                            population_sum = ("population", "sum"),
                            population_min = ("population", "min"),
                            population_max = ("population", "max")
                           )
df_agg_single

               country_count  population_sum  population_min  population_max
continent
Asia                       3      1589847000        51745000      1412600000
Europe                     3       218156676        67081234        83222442
North America              2       371433665        38711108       332722557

In [22]:
print(df_agg_single.columns)

Index(['country_count', 'population_sum', 'population_min', 'population_max'], dtype='object')

In [23]:
print(df_agg_single["population_max"])

continent
Asia             1412600000
Europe             83222442
North America     332722557
Name: population_max, dtype: int64

In [25]:
def process_continent(continent):
    result = {}
    if continent["population percentage of world"].sum() > 3:
        result["population"] = continent["population"].sum()
        result["population density"] = result["population"] / continent["area"].sum()
    return pd.Series(result, index = ["population", "population density"], dtype = "float64")

df_density = df.groupby("continent").apply(process_continent)
df_density

                 population  population density
continent
Asia           1.589847e+09          408.697456
Europe                  NaN                 NaN
North America  3.714337e+08           48.541732

In [26]:
df_density.dropna()

                 population  population density
continent
Asia           1.589847e+09          408.697456
North America  3.714337e+08           48.541732